<h3>
  <%= tenant.name %>
</h3>
<%= rating_for tenant, disabled: true %>
<br />
<% if tenant.categories.any? %>
  <p><%= render tenant.categories %></p>
<% end %>
<p><%= truncate(tenant.description, length: 500) %></p>