<%- model_class = Tenant -%>
<%= render 'show', t: @tenant %> 
 <div class="row col-md-12 buttons">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              root_path, :class => 'btn btn-default'  %>
</div>
