<!DOCTYPE html>
<html>
  <%= render 'header' %>
  <body>
    <h2>Status for product <%= link_to (@product.code + " - " + @product.name), tenant_product_url(@product, tenant_id: @product.tenant_id) %> was updated.</h2>
    <%= render 'products/show' %>
  </body>
  <%= render 'footer' %>

</html>