<div class="row">
    <div class="plans clearfix">
      <div class="col-lg-3 col-lg-offset-3 plan">
        <h2>Free</h2>
        <hr>
        <div class="price pull-right">
          Price: Free
        </div>
        <div class="features">
          <ul>
            <li>Unlimited statuses</li>
            <li>Responsive design</li>
            <li>Access anywhere</li>
            <li>500 products</li>
          </ul>
        </div>
        <p>
          <% if !current_user %>
            <%= link_to 'Sign up for free', new_user_registration_path(plan: 'free'), class: 'btn btn-primary sign-up' %>
          <% end %>
        </p>
      </div>
      <div class="col-lg-3 plan">
        <h2>Premium</h2>
        <hr>
        <div class="price pull-right">
          Price: $10
        </div>
        <div class="features">
          <ul>
            <li>Unlimited statuses</li>
            <li>Responsive design</li>
            <li>Access anywhere</li>
            <li class='extra'>Unlimited products</li>
          </ul>
        </div>
        <p>
          <% if !current_user %>
            <%= link_to 'Get started', new_user_registration_path(plan: 'premium'), class: 'btn btn-primary sign-up' %>
          <% end %>
        </p>
      </div>
    </div>
  </div>