.btn {
  border-radius: 1px !important;
}
.well {
  border-radius: 1px !important;
  text-align: center;
}
.form-control {
  border-radius: 1px !important;
}
.user-name {
  padding: 0 !important ;
  padding-left: 5px;
  padding-top: 15px !important;
  text-align: center;
  
  a {
    color: #fff !important;
    margin: 0 !important;
    padding: 5px!important;
  }
  
  a:hover, a:focus {
    color: #000 !important;
  }
  li {
    a {
      color: #666 !important;
      margin: 0 !important;
      padding: 5 !important ;
      padding-left: 15px;
      padding-right: 15px;
      /*text-align: center;*/
    }
    
    a:hover, a:focus {
      color: #000 !important;
    }
  }
}
.nav.navbar-right {
  padding-bottom: 10px;
  padding-top: 5px;
}

.nav.navbar-nav {
  .navbar-link {
    border-radius: 5px;
    color: #fff;
    margin-top: 15px;
    padding: 8px;
  }
  
  .navbar-link:focus, .navbar-link:hover {
    background: #3071a9;
    color: #fff;
  }
  
  li a {
    margin-right: 5px;
  }
}

.nav.navbar-right li {
  .btn {
  color: #fff !important;
  margin-top: 5%;
  }
  
  .btn-danger:hover, .btn-danger:focus {
  background-color: darken(#d9534f,20%) !important;
  }
  
  .btn-primary:hover, .btn-primary:focus {
  background-color: darken(#428bca,20%) !important;
  }
}

.btn-primary:visited, .btn-danger:visited {
  color: #fff;
}

.features {
  ul {
    margin-left: 0;
    padding-left: 15px;
  }
}

.jumbotron {
  background-image: asset-url('pointing.jpg');
  background-size: cover;
  color: #fff;
  font-family: 'Helvetica Neue' !important;
  font-stretch: expanded;
  padding-top: 125px;
  padding-bottom: 125px;
 /* margin-left: 15px;
  margin-right: 15px;*/
  margin-top: -20px;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
  h2 {
    font-size: 35px !important;
    .lead {
      font-family: 'Helvetica Neue' !important;
      font-size: 30px !important;
    }
  }
}

.plan {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  margin-right: 5px;
}

.price {
  font-weight: 700;
  size: 120%;
}

.sign-up {
  margin-top: 5px;
}

.extra {
  color: #5cb85c;
}

.no-side-padding {
  padding-left: 0;
  padding-right: 0;
}

.no-left-padding {
  padding-left: 0 !important;
}

.no-right-padding {
  padding-right: 0 !important;
}

.fa.fa-wrench {
  background: #fff;
  border: 1px solid white;
  border-radius: 20px;
  color: red;
  padding: 6px;
}

.fa.fa-plus {
  color: #3071a9;
  font-size : 2em;
}

.fa.fa-remove {
  color: #d9534f;
  /*font-size : 2em;*/
}

.logout {
  padding-left: 0;
  margin-top: 5px;
}

.navbar.navbar-static-top {
  background: #000;
  color: #fff !important;
  padding-bottom: 5px;
}

.table-status {
  tr {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px !important;
    color: #fff !important;
    td {
      padding: 0 !important;
    }
  }
  a {
    color: #fff !important;
    margin: 85px !important;
    padding: 5px!important;
  }
  
  a:hover, a:focus {
    color: #7d7d7d !important;
    background: transparent;
    text-decoration: none;
  }
}
.no-black-hover {
  a:hover, a:focus {
    color: #7d7d7d !important;
    background: transparent;
    text-decoration: none;
  }
}
.status-delete {
  a {
    color: red !important;
    margin: 0 !important;
    font-weight: bold;
  }
  
  a:hover, a:focus {
    color: #7d7d7d !important;
    background: transparent;
    font-weight: bold;
  }
}

.group-title {
  width: 16.66666667%;
  text-align: right;
  font-weight: bold;
  color: #666;
}

.pdf-download {
  font-size: 27px;
}

.body {
  margin-bottom: 50px;  
  height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px; /* Set the fixed height of the footer here */
  line-height: 50px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

.body-margin {
  margin-bottom: 50px;
}

.search {
  margin-right: 5px;
}

.badge {
  background-color: #5cb85c;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.input_checkbox{
  width: auto !important;
}

.boxes {
  height: 125px;
  overflow: auto;
  width: 400px;
}

.checkbox {
  margin-left: 0 !important;
  text-indent: 20px;
}

.checkbox-filter {
  min-height: 20px !important;
}

.boxes-filter {
  height: 250px;
  overflow: auto;
  width: 100%;
  text-align: left;
  margin-left: 10px !important;
}
