<footer class="footer">
  <div class="container no-black-hover">
    <span class="text-muted">Iulia Gatea &copy; 2018</span>
    <% if (current_user and current_user.is_admin?) or !current_user %>
      <%= link_to "About", about_path, class: "pull-right" %>
    <% end %>
  </div>
</footer>
