<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <span>
      <%= link_to ("<i class='fa fa-wrench'></i> " + 'FixIT').html_safe, root_path, 
                                                                          class: "navbar-brand" %>
    </span>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li class="navbar-search">
          <%= render 'layouts/search_form' %>
        </li>
      </ul>
      <ul class="nav nav-list">
        <ul class="nav navbar-right col-md-4">
        <% if current_user %>
            <%= render 'common/logged_in_menu' %>
        <% else %>
          <li class="col-md-4 pull-right">
            <%= link_to(("<i class='fa fa-lock'></i> " + 'Sign In').html_safe, new_user_session_path, class: 'btn btn-info navbar-link', title: 'Sign In') %>
          </li>
        <% end %>
        </ul>
      </ul>
    </div>
  </div>
</div>